<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <!-- Mathjax -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          processEscapes: true
        }
      });
    </script>
    <script
      type="text/javascript"
      charset="utf-8"
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    >
    </script>
    <script
      type="text/javascript"
      charset="utf-8"
      src="https://vincenttam.github.io/javascripts/MathJaxLocal.js"
    >
    </script>

    <!-- CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <link href="{{ site.baseurl }}/assets/css/syntax.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
<body>
    <a class="sr-only" href="#content">Skip to main content</a>

    <!-- Docs master nav -->
    <header class="navbar navbar-static-top navbar-default" role="banner">
      <div class="container">
        <div class="row">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <ul class="nav navbar-nav">
            <div class="hidden-sm hidden-xs"><li id="main-page"><a href="{{ site.baseurl }}/index.html" class="navbar-brand">CIS 530 - Computational Linguistics</a></li></div>
            <div class="visible-sm visible-xs"><li id="main-page"><a href="{{ site.baseurl }}/index.html" class="navbar-brand">CIS 530</a></li></div>
          </ul>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li id="lectures"><a href="{{ site.baseurl }}/lectures.html#now">Lectures</a></li>
        <!--
            <li id="quizzes"><a href="{{ site.baseurl }}/quizzes.html">Quizzes</a></li>
        -->
            <li id="homework">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Homework<span class="caret"></span></a>
              <ol class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/homework/python-and-bash/python-and-bash.html">HW1: Python and Bash Skills</a></li>
                <li><a href="{{ site.baseurl }}/homework/text-classification/text-classification.html">HW2: Text Classification</a></li>
                <li><a href="{{ site.baseurl }}/homework/ngram-lms/ngram-lms.html">HW3: N-Gram Language Models</a></li>
                <li><a href="{{ site.baseurl }}/homework/vector-semantics/vector-semantics.html">HW4: Vector Space Models</a></li>
                <li><a href="{{ site.baseurl }}/homework/vector-semantics-2/vector-semantics-2.html">HW5: Advanced Vector Space Models</a></li>
                <li><a href="{{ site.baseurl }}/homework/nn-lms/nn-lms.html">HW6: Neural Language Models</a></li>
                <li><a href="{{ site.baseurl }}/homework/ner/ner.html">HW7: Named Entity Recognition</a></li>
                <li><a href="{{ site.baseurl }}/homework/hypernyms/hypernyms.html">HW8: Learning Hypernyms</a></li>
                <li><a href="{{ site.baseurl }}/term-project.html">Milestone 1 (Term Project Option)</a></li>
                <li><a href="{{ site.baseurl }}/homework/mentalhealth/mentalhealth.html">HW9: Classifying Depression (HW Option)</a></li>
                <li><a href="{{ site.baseurl }}/term-project.html#milestone-2">Milestone 2 (Term Project Option)</a></li>
                <li><a href="{{ site.baseurl }}/homework/nmt/nmt.html">HW10: Neural Machine Translation (HW Option)</a></li>
                <li><a href="{{ site.baseurl }}/term-project.html#milestone-3">Milestone 3(Term Project Option)</a></li>
                <li><a href="{{ site.baseurl }}/homework/bert/bert.html">HW11: BERT (HW Option)</a></li>
                <li><a href="{{ site.baseurl }}/term-project.html#milestone-4">Milestone 4(Term Project Option)</a></li>
                <li><a href="{{ site.baseurl }}/homework/perspectives/perspectives.html">HW12: Perspectives Detection (HW Option)</a></li>
              </ol>

            <li id="staff"><a href="{{ site.baseurl }}/staff.html">Staff</a></li>
            <li id="resources"><a href="{{ site.baseurl }}/resources.html">Resources</a></li>
          </ul>
        </nav>
      </div>
      </div>
    </header>

    <div class="container">
      {% if page.img %}
      <div class="row">
        <div class="col-sm-2 hidden-sm hidden-xs">
          {% if page.img_link %}<a href="{{ page.img_link }}">{% endif %} 
          <img src="{{ site.baseurl }}/assets/img/{{ page.img }}" class="img-responsive img-rounded" alt="{{ page.picture }}"/>
          {% if page.img_link %}</a>{% endif %} 
          <span class="text-muted"><i>{{ page.caption }}</i></span>

        </div>

        <div class="col-sm-10">
          {{ content }}
        </div>
      </div>
      {% else %}
          {{ content }}
      {% endif %}
      </div>

    <footer class="text-center text-muted">
      <hr>
      {% if page.attribution %}
      {{page.attribution | markdownify}}<br>
      {% else %}
      Last updated {{ site.time | date: "%B %d, %Y %T" }}.<br>
      The source code is on <a href="https://github.com/computational-linguistics-class/computational-linguistics-class.github.io">GitHub</a>.
      {% endif %}
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $("#{{ page.active_tab }}").addClass("active");
        {% if page.js_onready %}
          {{ page.js_onready }}
        {% endif %}
      });
    </script>
  </body>
</html>
